* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "merriweather", serif;

  font-size: 18px;

  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
}

/* Utility */
.font-petemoss {
  font-family: "petemoss";
}

.font-petemoss {
  font-family: "petemoss";
}

.font-corinthia {
  font-family: "corinthia";
}

.btn-white {
  background-color: white;
  border: 2px solid #ececec;
  color: #000;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 6px;
}

.btn-white:hover {
  cursor: pointer;
  color: #fff;
  background-color: #986955;
  border-color: #775141;
}

.btn-white:focus {
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5);
}

.btn-brown {
  background-color: #986955;
  border: 2px solid #986955;
  color: #fff;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 6px;
}

.btn-brown:hover {
  cursor: pointer;
  color: #986955;
  background-color: #fff;
  border-color: #986955;
}

.btn-brown:focus {
  box-shadow: 0 0 0 0.25rem rgba(221, 221, 221, 0.5);
}

/* Cover */
#img-cover {
  height: 100vh;
  background-image: url(../img/cover.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.textcover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  color: white;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.7);
}

.display-6 {
  font-size: 35px;
}

.namayangnikah {
  font-size: 80px;
}
/* Akhir Cover */

/* Content */
.pernikahan {
  /* position: relative; */
  margin-top: 400px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.pernikahan h1 {
  font-size: 80px;
}

.pernikahan h4,
p {
  font-size: 22px;
}

.bg1 {
  background-image: url(../img/bg-1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-putih {
  margin-top: -350px;
  padding: 0;
  margin-left: 0;
  margin-right: 0;
  /* position: absolute; */
}

section.quote {
  margin-top: -60px;
}

section.quote p {
  margin: 0 35px 20px 35px;
}

section.bagian-mempelai .bg2 {
  background-color: #986955;
  margin-top: -1px;
}

section.bagian-mempelai .sang-mempelai {
  margin-top: -450px;
  font-size: 60px;
}

section.bagian-mempelai .mempelai {
  margin-top: -200px;
}

section.bagian-mempelai img.img-mempelai {
  margin-top: 50px;
  border-radius: 1000px;
}

section.bagian-mempelai .mempelai p.fs-6 {
  font-size: 12px;
  margin: 0 35px;
}

.lengkungan-bawah {
  margin-top: -1px;
}

section.acara {
  background-image: url(../img/bg-2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin-top: -480px;
  /* position: relative; */
  /* z-index: -99; */
}

section.acara .isi-acara {
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center;

  border-radius: 30px;

  margin-top: 550px;
  padding-top: 50px;
}

.isi-acara h2 {
  font-size: 80px;
}

.isi-acara p {
  margin: 0 35px 20px 35px;
}

section.acara img.img-acara {
  width: 120px;
}

.garis-turun {
  width: 5px;
  height: 100px;
  border-radius: 10px;
  background-color: white;
  margin: 0px auto;
}

hr.garis-samping {
  height: 5px;
  background-color: white !important;
  opacity: 1 !important;
  border-radius: 10px !important;
}

.acara-nikah {
  line-height: 25px;
}

section.reservasi {
  color: #986955;
}

section.reservasi hr.garis-samping {
  background-color: #986955 !important;
  height: 2px;
}

section.reservasi img {
  width: 120px;
  color: #986955;
}

section.reservasi h1 {
  font-size: 80px;
}

section.reservasi h2 {
  font-size: 65px;
}

section.gallery .our-gallery {
  margin-top: -450px;
}

section.gallery .our-gallery h1 {
  font-size: 80px;
}

section.gallery .our-gallery p {
  padding: 0 35px;
}

section.gallery .our-gallery hr.garis-samping {
  width: 140px;
  height: 2px;
  margin: auto;
}

section.gallery .bg-gallery {
  background-color: #986955;
  margin-top: -1px;
}

section.gallery .bg-gallery img {
  border-radius: 1000px;
  filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.3));
}

/* Akhir Content */

/* responsive */
@media (min-width: 0px) and (max-width: 460px) {
  .judul h1 {
    font-size: 20px;
  }

  .judul h2 {
    font-size: 40px;
  }

  .pernikahan h1 {
    font-size: 40px;
  }

  .pernikahan h4,
  p {
    font-size: 18px;
  }

  .bg-putih {
    margin-top: -50px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

  section.quote {
    margin-top: -20px !important;
  }

  section.quote p {
    font-size: 12px;
    margin: 0 35px 20px 35px;
  }

  section.bagian-mempelai .sang-mempelai {
    margin-top: -80px;
    font-size: 40px;
  }

  section.bagian-mempelai .mempelai {
    margin-top: -50px;
  }

  section.bagian-mempelai img.img-mempelai {
    margin-top: 50px;
    border-radius: 1000px;
  }

  section.bagian-mempelai .mempelai p.fs-6 {
    font-size: 12px;
    margin: 0 35px;
  }

  section.acara {
    background-image: url(../img/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -122px;
    /* position: relative; */
    /* z-index: -99; */
  }

  section.acara .isi-acara {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;

    border-radius: 0px;

    margin-top: 200px;
    padding-top: 50px;
  }

  section.acara img.img-acara {
    width: 90px;
  }

  section.acara .isi-acara h2 {
    font-size: 40px;
  }

  section.acara .isi-acara h3 {
    font-size: 16px;
  }

  section.acara .isi-acara p {
    font-size: 12px;
  }

  section.reservasi img {
    width: 90px;
    color: #986955;
  }

  section.reservasi h1 {
    font-size: 46px;
  }

  section.reservasi h2 {
    font-size: 40px;
  }

  section.reservasi h3 {
    font-size: 18px;
  }

  section.reservasi p {
    font-size: 12px;
    padding: 0 20px;
  }

  section.gallery .our-gallery {
    margin-top: -70px;
  }

  section.gallery .our-gallery h1 {
    font-size: 40px;
  }

  section.gallery .our-gallery p {
    font-size: 12px;
  }

  section.gallery .bg-gallery {
    background-color: #986955;
    margin-top: -180px;
  }

  section.gallery .img-gallery {
    margin-top: 200px;
  }
}

@media (min-width: 461px) and (max-width: 575px) {
  .judul h1 {
    font-size: 30px;
  }

  .judul h2 {
    font-size: 50px;
  }

  .pernikahan h1 {
    font-size: 60px;
  }

  .pernikahan h4,
  p {
    font-size: 20px;
  }

  .bg-putih {
    margin-top: -55px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

  section.quote {
    margin-top: -30px !important;
  }

  section.quote p {
    font-size: 14px;
    margin: 0 35px 20px 35px;
  }

  section.bagian-mempelai .sang-mempelai {
    margin-top: -90px;
    font-size: 40px;
  }

  section.bagian-mempelai .mempelai {
    margin-top: -50px;
  }

  section.bagian-mempelai img.img-mempelai {
    margin-top: 50px;
    border-radius: 1000px;
  }

  section.bagian-mempelai .mempelai p.fs-6 {
    font-size: 14px;
    margin: 0 35px;
  }

  section.acara {
    background-image: url(../img/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -175px;
    /* position: relative; */
    /* z-index: -99; */
  }

  section.acara .isi-acara {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;

    border-radius: 0px;

    margin-top: 250px;
    padding-top: 50px;
  }

  section.acara .isi-acara h2 {
    font-size: 60px;
  }

  section.acara .isi-acara p {
    font-size: 14px;
    margin: 0 35px 20px 35px;
  }

  section.reservasi img {
    width: 90px;
    color: #986955;
  }

  section.reservasi h1 {
    font-size: 60px;
  }

  section.reservasi h2 {
    font-size: 50px;
  }

  section.reservasi h3 {
    font-size: 22px;
  }

  section.reservasi p {
    font-size: 14px;
    padding: 0 20px;
  }

  section.gallery .our-gallery {
    margin-top: -100px;
  }

  section.gallery .our-gallery h1 {
    font-size: 50px;
  }

  section.gallery .our-gallery p {
    font-size: 14px;
  }

  section.gallery .bg-gallery {
    background-color: #986955;
    margin-top: -165px;
  }

  section.gallery .img-gallery {
    margin-top: 200px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .bg-putih {
    margin-top: -120px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

  section.quote {
    margin-top: -70px !important;
  }

  section.quote p {
    font-size: 16px;
    margin: 0 35px 20px 35px;
  }

  section.bagian-mempelai .sang-mempelai {
    margin-top: -150px;
    font-size: 40px;
  }

  section.bagian-mempelai .mempelai {
    margin-top: -60px;
  }

  section.bagian-mempelai img.img-mempelai {
    margin-top: 50px;
    border-radius: 1000px;
  }

  section.bagian-mempelai .mempelai p.fs-6 {
    font-size: 12px;
    margin: 0 35px;
  }

  section.acara {
    background-image: url(../img/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -210px;
  }

  section.acara .isi-acara {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;

    border-radius: 30px;

    margin-top: 280px;
    padding-top: 50px;
  }

  section.acara .isi-acara h2 {
    font-size: 60px;
  }

  section.acara .isi-acara p {
    font-size: 16px;
    margin: 0 35px 20px 35px;
  }

  section.reservasi h1 {
    font-size: 65px;
  }

  section.reservasi h2 {
    font-size: 55px;
  }

  section.reservasi h3 {
    font-size: 24px;
  }

  section.reservasi p {
    font-size: 16px;
    padding: 0 20px;
  }

  section.gallery .our-gallery {
    margin-top: -150px;
  }

  section.gallery .our-gallery h1 {
    font-size: 60px;
  }

  section.gallery .our-gallery p {
    font-size: 18px;
  }

  section.gallery .bg-gallery {
    background-color: #986955;
    margin-top: -190px;
  }

  section.gallery .img-gallery {
    margin-top: 250px;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .bg-putih {
    margin-top: -130px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

  section.quote {
    margin-top: -40px !important;
  }

  section.quote p {
    font-size: 16px;
    margin: 0 35px 20px 35px;
  }

  section.bagian-mempelai .sang-mempelai {
    margin-top: -200px;
    font-size: 50px;
  }

  section.bagian-mempelai .mempelai {
    margin-top: -60px;
  }

  section.bagian-mempelai img.img-mempelai {
    margin-top: 50px;
    border-radius: 1000px;
  }

  section.bagian-mempelai .mempelai p.fs-6 {
    font-size: 12px;
    margin: 0 35px;
  }

  section.acara {
    background-image: url(../img/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -285px;
  }

  section.acara .isi-acara {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;

    border-radius: 30px;

    margin-top: 380px;
    padding-top: 50px;
  }

  section.acara .isi-acara h2 {
    font-size: 60px;
  }

  section.acara .isi-acara p {
    font-size: 18px;
    margin: 0 35px 20px 35px;
  }

  section.reservasi p {
    font-size: 18px;
    padding: 0 20px;
  }

  section.gallery .our-gallery {
    margin-top: -150px;
  }

  section.gallery .our-gallery h1 {
    font-size: 70px;
  }

  section.gallery .our-gallery p {
    font-size: 20px;
  }

  section.gallery .bg-gallery {
    background-color: #986955;
    margin-top: -190px;
  }

  section.gallery .img-gallery {
    margin-top: 250px;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .bg-putih {
    margin-top: -180px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

  section.quote {
    margin-top: -20px !important;
  }

  section.quote p {
    font-size: 18px;
    margin: 0 35px 20px 35px;
  }

  section.bagian-mempelai .sang-mempelai {
    margin-top: -280px;
    font-size: 70px;
  }

  section.bagian-mempelai .mempelai {
    margin-top: -150px;
  }

  section.bagian-mempelai img.img-mempelai {
    margin-top: 50px;
    border-radius: 1000px;
  }

  section.bagian-mempelai .mempelai p.fs-6 {
    font-size: 12px;
    margin: 0 35px;
  }

  section.acara {
    background-image: url(../img/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -350px;
  }

  section.acara .isi-acara {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;

    border-radius: 30px;

    margin-top: 450px;
    padding-top: 50px;
  }

  section.acara .isi-acara h2 {
    font-size: 70px;
  }

  section.acara .isi-acara p {
    font-size: 20px;
    margin: 0 35px 20px 35px;
  }

  section.gallery .our-gallery {
    margin-top: -220px;
  }

  section.gallery .our-gallery h1 {
    font-size: 80px;
  }

  section.gallery .our-gallery p {
    font-size: 22px;
  }

  section.gallery .bg-gallery {
    background-color: #986955;
    margin-top: -190px;
  }

  section.gallery .img-gallery {
    margin-top: 250px;
  }
}

@media (min-width: 1201px) and (max-width: 1400px) {
  .bg-putih {
    margin-top: -260px;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    /* position: absolute; */
  }

  section.quote {
    margin-top: -20px !important;
  }

  section.quote p {
    font-size: 20px;
    margin: 0 35px 20px 35px;
  }

  section.bagian-mempelai .sang-mempelai {
    margin-top: -300px;
    font-size: 70px;
  }

  section.bagian-mempelai .mempelai {
    margin-top: -150px;
  }

  section.bagian-mempelai img.img-mempelai {
    margin-top: 50px;
    border-radius: 1000px;
  }

  section.bagian-mempelai .mempelai p.fs-6 {
    font-size: 12px;
    margin: 0 35px;
  }

  section.acara {
    background-image: url(../img/bg-2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    margin-top: -400px;
  }

  section.acara .isi-acara {
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;

    border-radius: 30px;

    margin-top: 480px;
    padding-top: 50px;
  }

  section.acara .isi-acara h2 {
    font-size: 80px;
  }

  section.acara .isi-acara p {
    font-size: 22px;
    margin: 0 35px 20px 35px;
  }

  section.gallery .our-gallery {
    margin-top: -280px;
  }

  section.gallery .our-gallery h1 {
    font-size: 80px;
  }

  section.gallery .our-gallery p {
    font-size: 22px;
  }

  section.gallery .bg-gallery {
    background-color: #986955;
    margin-top: -140px;
  }

  section.gallery .img-gallery {
    margin-top: 250px;
  }
}
